# Web framework
fastapi
uvicorn
pydantic

# LLM + RAG
openai
langchain
faiss-cpu
tqdm

# Voice agent
# whisper
openai-whisper
git+https://github.com/openai/whisper.git
gtts
soundfile

# Web scraping / API
requests
beautifulsoup4
lxml
yfinance

# Frontend
streamlit

# Utils
python-dotenv

langchain-openai
langchain_community
python-multipart
